<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <title>我的收藏</title>
   <style type="text/css">
      #search_input{
        position: relative;
      }
      #search_tip{
        position: absolute;
        z-index:10;
        left:31%;
        top:70%;
        width: 490px;
      }
      #search_tip ul li{
        padding-left: 10px;
      }
    </style>
    <script>

      function stop_show(keyword){
        if(keyword){
          document.getElementById('search_input').value=keyword
        }
        document.getElementById('search_tip').classList.add('undisplay')
      }

      function search(){
        var keyword=document.getElementById('search_input').value
        if(keyword==null | keyword==""){
          stop_show(null)
        }else{
          console.log(keyword)
          fetch('/search/',{
            method:'POST',
            body:JSON.stringify({keyword:keyword}),
            headers:{'Content-Type':'application/json'}
          }).then( (res) => {
            return res.json()
          }).then( (data) => {
            bar=data.bar
            post=data.post
            tip_html="<table style='width:100%;margin-left:10px;text-align:left !important'>"
            for(i=0;i<bar.length;i++){
              tip_html+="<tr><td style='text-align:left;'><button style='margin-right:10px' type='button' class='is-fullwidth button is-primary has-text-dark' onmousedown='stop_show(\""+bar[i][0]+"\")'>"+bar[i][0]+"</button></td></tr>"
            }
            for(j=0;j<post.length;j++){
              tip_html+="<tr><td style='text-align:left;'><button style='margin-right:10px' type='button' class='is-fullwidth button is-primary has-text-dark' onmousedown='stop_show(\""+post[j][0]+"\")'>"+post[j][0]+"</button></td></tr>"
            }
            tip_html+="</table>"
            document.getElementById('search_tip').classList.remove('undisplay')
            document.getElementById('search_tip').innerHTML=tip_html
          }).catch( (e) => {
            console.error(e)
          })
        }
      }

    </script>
  </head>
  <body class="has-background-dark">
    <div class="navbar main is-light">
      <div class="container">
        <a><img class="image" src="{{ url_for('static', filename='img/logo.jpg') }}" width="160px"/></a>
        <div class="navbar-end">
          <form action="/submit_search/" method="POST">
          <div class="navbar-item field has-addons">
            <div class="control">
              <input class="input input-search" id="search_input" name="search_input" onblur="stop_show(null)" oninput="search()" type="text" placeholder="搜索贴吧，帖子"/>
            </div>
            <div class="control"><a class="button is-info">进入贴吧</a></div><div style="width:20px;"></div>
            <div class="control"><button style="border-radius:3px;" class="button is-link" type="submit">全吧搜索</button></div><div style="width:100px;"></div>
          </div>
          <div class="undisplay" id="search_tip">
          </div>
        </form>

          {% if is_login() %}
          <div class="navbar-item">
            <div class="navbar is-light">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">{{current_user.u_nickname}}</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="/user/{{current_user.u_id}}/">我的主页</a>
                    <hr class="navbar-divider"/>
                    <a class="navbar-item" href="/user/mybar/{{ current_user.u_id }}/">我的贴吧</a>
                            <hr class="navbar-divider"/>
                    <a class="navbar-item" href="/user/like/{{ current_user.u_id }}/">我的收藏</a>
<hr class="navbar-divider"/>
                    <a class="navbar-item" href="/user/mypost/{{ current_user.u_id }}/">我的帖子</a>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="navbar-item"><a class="button is-light" href="/login/">登录</a></div>
          <div class="navbar-item"><a class="button is-light" href="/register/">注册</a></div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="hero has-background-dark"><br/>
      <div class="container">
        <div class="flow"><span class="flow-1"></span><span class="flow-2"></span><span class="flow-3"></span></div>
        <div class="hero-body card">
          <div class="card-content">
            <div class="columns">
              <div class="column is-2">
                <div class="card">
                  <div class="card-content">
                    <div class="subtitle">我在贴吧</div>
                    <div class="media">
                      <div class="media-left"><img src="{{ url_for('static', filename=user.u_head_img) }}" width="80"/></div>
                      <div class="media-content"><br/><a href="/user/{{ user.u_id }}">{{ user.u_nickname }}</a></div>
                    </div>
                    <div class="media">
                      <div class="media-content">
                        <div class="subtitle">我的贴吧 </div>
                      </div>
                      <div class="media-content"><a class="tag is-dark" href="/bar/0/edit/">新建</a></div>
                    </div>

                    <hr/>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="column">
                  <div class="column"></div>
                    <div class="column"><div class="column is-9 subtitle">我收藏的帖子</div>
                      <div class="card">
                        {% for i in posts_like %}
                        <div class="card-content">
                        <div class="content"><a href="/bar/{{ i[6] }}/">{{ i[1] }}</a></div>
                        <div class="content"><a class="subtitle title-color" href="/post/{{ i[7] }}/">{{ i[2] }}</a></div>
                        <div class="content">{{ i[5] }}</div>
                        <div class="media"><img src="{{ url_for('static', filename=i[4]) }}" width="300"/></div>
                        <div class="content"><br/>
                          <div class="columns">
                            <div class="column">
                              <div class="media">
                                <div class="media-left"><img src="{{ url_for('static', filename="img/user_logo.png") }}" width="30"/></div>
                                <div class="media-content"><a href="/user/{{ i[8] }}/">{{ i[0] }}</a></div>
                              </div>
                            </div>
                            <div class="column">
                              <div class="media">
                                <div class="media-left"><img src="{{ url_for('static', filename="img/time_bg.png") }}" width="30"/></div>
                                <div class="media-content">{{ i[3] }}</div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div> <hr>{% endfor %}
                    </div>
                  </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div><br/>
                      <hr/>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer has-background-grey-lighter">
      <div class="content has-text-centered">Developmented by 第四组</div>
    </div>
  </body>
</html>