<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma-steps.css') }}"/>
    <script>
        function ondisplay() {
            location.href = '/'
        }
    </script>
</head>
<body>
<div class="navbar main is-light">
    <div class="container"><a href="/"><img class="image" src="{{ url_for('static', filename='img/logo.jpg') }}"
                                            width="160px"/></a>
        <div class="navbar-end">
            <div class="navbar-item field has-addons">
                <div class="control">
                    <input class="input input-search is-focused" type="text" placeholder="搜索贴吧，帖子"/>
                </div>
                <div class="control"><a class="button is-info" href="#">进入贴吧</a></div>
            </div>
            <div class="navbar-item field">
                <div class="control"><a class="button is-link" href="#">全吧搜索</a></div>
            </div>
            <div class="navbar-item"></div>
            <div class="navbar-item"></div>

            {% if is_login() %}
                <div class="navbar-item">
                    <div class="navbar is-light">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" href="#">云小帅</a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item">我的主页</a>
                                <hr class="navbar-divider"/>
                                <a class="navbar-item">退出</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="navbar-item"><a class="button is-light" href="/login">登录</a></div>
                <div class="navbar-item"><a class="button is-light" href="/register">注册</a></div>
            {% endif %}

        </div>
    </div>
</div>

<div class="hero is-dark is-fullheight">
    <div class="container has-text-centered ">
        <div class="flow"><span class="flow-1"></span><span class="flow-2"></span><span class="flow-3"></span></div>
        <div class="column is-6 is-offset-3">
            <div class="card">
                <div class="box">
                    <ul class="steps">
                        <li class="steps-segment "><span class="steps-marker">1</span></li>
                        <li class="steps-segment "><span class="steps-marker">2</span></li>
                        <li class="steps-segment is-active"><span class="steps-marker">3</span></li>
                    </ul>
                    <div class="field">
                        <ul class="ul-self">
                            <li>
                                <h3 class="title has-text-grey">注册完成</h3>
                            </li>
                            <li>
                                <div class="control has-text-centered"><img
                                        src="{{ url_for('static',filename='img/done.png') }}" width="140px"/></div>
                            </li>
                        </ul>
                    </div>
                    <div class="field">
                        <div class="control has-text-centered">
                            <button class="button is-info is-medium is-rounded is-fullwidth" onclick="ondisplay()">完成
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>